@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #DEE8FF; /* Light mode background */
  --foreground: #000000; /* Light mode text color */
}

[data-theme="dark"] {
  --background: #1E293B; /* Dark mode background */
  --foreground: #F1F5F9; /* Dark mode text color */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    word-wrap: break-word; /* Replace if 'text-wrap' isn't supported */
  }
}
